:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Source Serif 4", serif;

  --default-font-family: "Ledger", serif;
}

body {
  font-family: var(--default-font-family);
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}
